nav{
    display: flex;
    justify-content: space-between;
}

.header-one{
    padding-left: 10px;
}
.myimage{
    float: left;
    padding-right: 10px ;
    padding-left: 10px;
}

.footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 50px;
}